@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}


.banner-container {
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid red; */
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: 900;
    color: #ffffff;
}

/* off-section-container start */

.off-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.off-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.off-section-content H1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.off-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.off-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}
.off-img-container{
    width: 802.9px;
    height: 500px;
}

.off-img-container img{
    width: 802.9px;
    height: 100%;
}












/* .banner-text{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.banner-subtitle {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 200px;
}

.banner-title {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 450px;
}
/* OFF SECTION */

/* .off-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}
.off-container h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 70px;
font-weight: 700;
letter-spacing: 0%;
text-align: center;
}
.off-container p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 18px;
font-weight: 500;
letter-spacing: 0%;
text-align: center;
}
.off-container h4{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 30px;
font-weight: 700;
letter-spacing: 0%;
text-align: center;
}
.off-section-image{
width: 802.9px;
height: 500px;
}
.off-image{
    text-align: center; 
}

.midnight-party{
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */